<section class="main section_create_twimp">
  <div class="create_twimp_box rubberBand">
    <form
      class="create_twimp_form"
      [formGroup]="newTwimpForm"
      (ngSubmit)="createTwimp(newTwimpForm)"
    >
      <label><h3 class="create_twimp_label">{{"CreateYourTwimp" | transloco}}:</h3></label>
      <div
        class="create_twimp_error"
        *ngIf="
          newTwimpForm.get('content')!.hasError('required') &&
          !newTwimpForm.get('content')!.pristine
        "
      >
      {{"Errors.NoText" | transloco}}
      </div>
      <div
        class="create_twimp_error"
        *ngIf="
          newTwimpForm.get('content')!.hasError('maxlength') &&
          !newTwimpForm.get('content')!.pristine
        "
      >
      {{"Errors.CharacterLength" | transloco}}
      </div>
      <textarea
        class="create_twimp_textarea"
        [placeholder]="'Errors.Textarea' | transloco"
        formControlName="content"
      ></textarea>
      <button
        type="submit"
        class="create_twimp_button"
        [disabled]="newTwimpForm.invalid"
      >
        {{"Post" | transloco}}
      </button>
    </form>
  </div>
</section>
