<section class="main section_create_twimp">
  <div class="create_twimp_box rubberBand">
    <form
      class="create_twimp_form"
      [formGroup]="newTwimpForm"
      (ngSubmit)="createTwimp(newTwimpForm)"
    >
      <label><h3 class="create_twimp_label">Crea tu twimp:</h3></label>
      <div
        class="create_twimp_error"
        *ngIf="
          newTwimpForm.get('content')!.hasError('required') &&
          !newTwimpForm.get('content')!.pristine
        "
      >
        Un Twimp tiene que contener algún texto
      </div>
      <div
        class="create_twimp_error"
        *ngIf="
          newTwimpForm.get('content')!.hasError('maxlength') &&
          !newTwimpForm.get('content')!.pristine
        "
      >
        Un Twimp sólo puede contener 300 letras como máximo
      </div>
      <textarea
        class="create_twimp_textarea"
        placeholder="Máximo 300 caracteres"
        formControlName="content"
      ></textarea>
      <button
        type="submit"
        class="create_twimp_button"
        [disabled]="newTwimpForm.invalid"
      >
        Publicar
      </button>
    </form>
  </div>
</section>
