.menu_nav {
  width: 100%;
  background: #F5ECD7;
  overflow: hidden;
  margin-bottom: 1.2em;
  box-shadow: 0px 4px 5px 1px rgba(76, 81, 135, 0.35);
}

.nav_list {
  width: 100%;
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
}

.nav_list_item {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  float: left;
  background-color: #F5ECD7;
  text-align: center;
}

.nav_list_link {
  width: 100%;
  font-weight: bold;
  border-bottom: 4px solid #F5ECD7;
  display: inline-block;
  float: left;
  padding: 0.5em;
  list-style-position: inside;
  background-color:#1e295a;
  color: #ebe2cd;
  border-bottom: 4px solid #ebe2cd;
  margin-right: 0.2em;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.nav_list_link:hover,
.nav_list_link:focus,
.nav_list_item-selected .nav_list_link {
  color: #abacea;
  border-color: #abacea;
}
