<section class="author_card">
  <div class="author_data">
    <div class="author_data_img_wrap">
      <img
        class="author_data_img"
        src="assets/images/google-icon.png"
        alt="Imagen del usuario"
      />
    </div>
    <div class="author_data_name">David Garcia</div>
  </div>

  <nav class="author_nav">
    <ul class="author_nav_list">
      <li class="author_nav_list_item author_nav_list_item-selected">
        <a class="author_nav_list_link">Mis Twits</a>
      </li>
      <li class="author_nav_list_item">
        <a class="author_nav_list_link">Mis Favoritos</a>
      </li>
    </ul>
  </nav>
</section>
