<section class="main fadein fadeInLeft section_login">

  <div class="login_box rubberBand animated">
    <img class="login_image" src="assets/images/TwLoginDark.png">
    <form class="login_form" [formGroup]="userForm" (ngSubmit)="logIn(userForm)">
      <label class="login_form_label">Introduce tu nick y pulsa el botón de Log-In</label>
      <div class="login_form_error" *ngIf="userForm.get('idAuthor')!.hasError('required') && !userForm.get('idAuthor')!.pristine">
        El nombre es obligatorio
      </div>
      <div class="login_form_error" *ngIf="userNoExist">
        No existe este nick
      </div>
      <input type="text" class="login_form_input-text" formControlName="idAuthor">
      <button type="submit" class="login_button" [disabled]="userForm.invalid">Log-In</button>
    </form>
  </div>

</section>
