.section-header {
  width: 100%;
  background: #F5ECD7;
}

.header_title {
  margin: 0;
  margin-top: 5px;
  padding: 0.5em 3em 0;
  color: #1e295a;
  background: url(../../../assets/images/tw.png) no-repeat 5px 5px;
  min-height: 60px;
  text-indent: -9999px;

}

.header_auth {
  position: absolute;
  top: 13px;
  right: 15px;
  font-weight: bold;
  color:#1e295a ;
  border: none;
  background-color: #F5ECD7;
}
