.signup_box {
  width: 90%;
  margin: 1em auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.35);
  padding: 3em;
  min-height: 300px;
}

.signup_title {
  text-align: center;
}

.signup_image {
  margin: 0 auto 1em auto;
  display: block;
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
}

.signup_form_label {
  font-size: 98%;
  word-spacing: -0.4pt;
  display: block;
  margin: 20px auto;
  width: 80%;
}

.signup_form_error {
  font-size: 75%;
  word-spacing: -0.4pt;
  margin: 20px auto;
  width: 80%;
  color: red;
}

.signup_form_input-text {
  display: block;
  padding: 10px;
  margin: 20px auto;
  font-size: 110%;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 60%;
}

.signup_form_input-text:focus {
  border-bottom: solid 2px #969696;
}

.signup_button {
  width: 80%;
  height: 50px;
  background-color: #d94f5c;
  margin: 30px auto 20px;
  display: block;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 110%;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.signup_button:hover {
  transition: .35s ease-in-out;
  background-color: #993333;
}

.signup_button:active {
  transition: .35s ease-in-out;
  background-color: #c64652;
}


/* RESPONSIVE
 ========================================================================= */


/* Moviles en horizontal o tablets en vertical
 ------------------------------------------------------------------------- */

@media (min-width: 768px) {
  .signup_box {
    width: 60%;
  }
}


/* Tablets en horizonal y escritorios normales
 ------------------------------------------------------------------------- */

@media (min-width: 1024px) {}


/* Escritorios muy anchos
 ------------------------------------------------------------------------- */

@media (min-width: 1200px) {}
