<section class="section_edit-profile">
  <div class="edit-profile_box rubberBand">
    <div class="author_data">
      <div
        class="author_data_img_wrap"
        *ngIf="editUserForm.get('image')!.value"
      >
        <img
          class="edit-profile_image"
          [src]="editUserForm.get('image')!.value"
          alt="Vista previa de la imagen"
        />
      </div>

      <div class="author_data_name">
        {{ author?.fullName }}
      </div>
    </div>

    <form
      class="edit-profile_form"
      [formGroup]="editUserForm"
      (ngSubmit)="editProfile(editUserForm)"
    >
      <label class="edit-profile_form_label"
        >{{ "EditProfile" | transloco}}</label
      >

      <!-- FULL NAME -->
      <label class="edit-profile_form_label">{{ "UpdateName" | transloco }}</label>
      <div
        class="edit-profile_form_error"
        *ngIf="
          editUserForm.get('fullName')!.hasError('required') &&
          !editUserForm.get('fullName')!.pristine
        "
      >
        {{"Errors.NotName" | transloco}}
      </div>
      <div
        class="edit-profile_form_error"
        *ngIf="
          editUserForm.get('fullName')!.hasError('minlength') &&
          !editUserForm.get('fullName')!.pristine
        "
      >
      {{"Errors.NameLenght" | transloco}}
      </div>
      <input
        type="text"
        class="edit-profile_form_input-text"
        formControlName="fullName"
      />

      <!-- IMAGE -->
      <label class="edit-profile_form_label"
        >{{"NewUrlImage" | transloco}}</label
      >
      <input
        type="url"
        class="edit-profile_form_input-text"
        formControlName="image"
        (input)="updatePreview()"
      />
      <!-- IMAGE -->

      <button
        type="submit"
        class="edit-profile_button"
        [disabled]="editUserForm.invalid"
      >
        {{"SaveChange" | transloco}}
      </button>
    </form>
  </div>
</section>
